<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>create</h1>

    <form action="/create" method="POST">
        <section>
            <label for="">username</label>
            <input type="text" name="nama" placeholder="username" id="">
        </section>
        <section>
            <label for="">comment</label>
            <textarea name="text" id="fak" cols="30" rows="5"></textarea>
        </section>

        <input type="submit">
    </form>
</body>
</html>